.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.image-container {
  flex-shrink: 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  overflow: hidden; 
}

.signup {
  max-width: 300px; 
  width: 60%; 
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup h2 {
  text-align: center;
  color: #333;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin-bottom: 6px; 
  padding: 6px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px; 
}

.signup-form button {
  padding: 8px; 
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; 
}

.signup-form button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.login-link {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px; 
}

.login-link:hover {
  text-decoration: underline;
}


body {
  background-color: #e9f1fa;
}





