dashboard {
    width: 100vh;
    min-width: 99vw;




}

header {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    background: #D9D9D9;
    height: 5em;

    height: 100px;


}


.logo img {
    width: 150px;
    height: 100px;
}

.nav-content {
    display: flex;
    flex: content;
    width: max-content;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;



}

.school {
    width: 24rem;
    height: 8.125rem;
    flex-shrink: 0;
}

.user-prof-log {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logout button {
    border: none;
    background-color: #D9D9D9;
}

.logout img {
    width: 70px;
}

aside {
    background-color: #20B7e7;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 82vh;
    justify-content: center;
    align-items: center;

}


.dash-content{
    display: flex;
    flex-direction: row;
}
aside button {
    background: none;
    color: white;
    padding: 10px 20px;
    border: none
}

aside button:hover {
    /* background: hsl(194, 81%, 42%); */
    background: #13A7D6;
    ;
}


.button-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 1.5em;
}

.content {
   
    background: #fafafa;
    flex: 2 ;

    
}